html,
body {
  display: block;
  margin: auto;
  margin-bottom: 1em;
  padding: 0px 10px 0px 10px;
  width: 780px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.5;
  font-size: 16px;
}

@media only screen and (max-width: 780px) {
  html,
  body {
    width: auto;
  }
}

* {
  box-sizing: border-box;
}

a {
  color: #000000;
  text-decoration: none;
  background-color: #e3ddff;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 30px;
  font-weight: normal;
}

.button {
  display: inline-block;
  padding-right: 15px;
}

#top {
  padding: 0;
  list-style-type: none;
  text-align: right;
}

#top > li > a {
  background: transparent;
}

#bottom {
  padding: 0;
  list-style-type: none;
  text-align: left;
}

.nocolor {
  background: transparent;
}

#projects-list {
  padding: 0;
  list-style-type: none;
  text-align: left;
}

#projects-list > li:not(:last-child) {
  margin-bottom: 15px;
}

#projects-list > li > a {
  background: transparent;
}

.footer {
  text-align: center;
}

.footer > span > a {
  background-color: transparent; 

}

.footer > span > a:hover {
  text-decoration: none;
  background-color: #e3ddff;
}